name: Build CV

on:
  push:
    branches: [ main ]
    paths:
      - 'cv/**'
  pull_request:
    branches: [ main ]
    paths:
      - 'cv/**'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository 
        uses: actions/checkout@v6
      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v4
        with:
          root_file: | 
            ./cv/Viktor_Vorobev_CV.tex
            ./cv/Viktor_Vorobev_Cover_Letter.tex
        env:
            TEXINPUTS: ".:./cv//:"
      - name: Upload PDF file artifact to GitHub
        if: ${{ github.event_name != 'push' }}
        uses: actions/upload-artifact@v5
        with:
          name: Viktor Vorobev CV
          path: |
            Viktor_Vorobev_CV.pdf
            Viktor_Vorobev_Cover_Letter.pdf
      - name: create-json
        id: create-json
        uses: jsdaniell/create-json@v1.2.3
        with:
          name: "credentials.json"
          json: ${{ secrets.GOOGLE_DRIVE_SERVICE_ACCOUNT_JSON }}
      - name: Install uv
        if: ${{ github.event_name == 'push' }}
        uses: astral-sh/setup-uv@v7
      - name: Upload CV to Google Drive
        if: ${{ github.event_name == 'push' }}
        run: |
          uv run scripts/upload_file.py --folder_id ${{ secrets.GOOGLE_DRIVE_CV_FOLDER_ID }} --file_name Viktor_Vorobev_CV.pdf
          uv run scripts/upload_file.py --folder_id ${{ secrets.GOOGLE_DRIVE_CV_FOLDER_ID }} --file_name Viktor_Vorobev_Cover_Letter.pdf
